@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-logo{
  height: 40px;
  border-radius: 100%;
  border: 1px solid black
}

.title{
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  color: white  
}

.title-2{
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  color: white
}

.special-title{
  font-size: 24px;
  font-weight: 900;
  color: #FF6347
}

.special-title-2{
  font-size: 14px;
  font-weight: 900;
  color: #FF6347
}
.team-img {
  border-radius: 100%;
  border: 2px solid #34568B;
  width: 150px;
  height: 150px;
  background-position: center;
  object-fit: cover;
}

.banner {
  width: 100%
}